
<div class="image">
 <div class="heading">
<h1><b>INDOORTURF</b></h1></div>
<div class="Log-In-form">


  <div class="container"></div>
  <img src="https://www.kindpng.com/picc/m/33-338711_circle-user-icon-blue-hd-png-download.png">
  
    
  <h2>Log In</h2>
  <form>
    <input type="Email" class="input-box" placeholder="Enter Email / Phone No">
    <input type="Password" class="input-box" placeholder="Password">
    <br>
    <br>
    <button type="button" class="signup-btn">Log In</button>
    <hr>
    <p>Don't have an Account? <a href="#">Sign Up</a></p>

  </form>

</div>
</div>